/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  width: 180px;
  text-align: center;
  animation-name: come;
  animation-duration: 2s;
}

a:hover {
  cursor: pointer;
  color: gray;
}
body {
  width: 100vw;
  height: 600px;
  background-color: #ffcc99;
}
/* 헤더 */
header {
  margin: 30px 0px 0px 40px;
  font-size: 30px;
  height: 70px;
  animation-name: come;
  animation-duration: 1.5s;
}

ul {
  display: flex;
  flex-direction: row;
}
li {
  display: flex;
  line-height: 70px;
  cursor: pointer;
}

/* 메인 */

.textBox {
  margin-top: 30px;
  width: 100vw;
  height: 200px;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
}

nav {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
}
nav .msg {
  height: 200px;
}
nav .msg li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  margin: 0px 50px 0px 50px;
}

img {
  width: 100px;
}
img:hover {
  width: 120px;
  height: 120px;
}
