/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  width: 180px;
  text-align: center;
}

a:hover {
  color: gray;
}
body {
  width: 100vw;
  height: 600px;
  background-color: antiquewhite;
}

/* 헤더부분 */

header {
  margin: 30px 0px 0px 40px;
  font-size: 30px;
  height: 70px;
  animation-name: come;
  animation-duration: 1.5s;
}

ul {
  display: flex;
  flex-direction: row;
}
li {
  display: flex;
  line-height: 70px;
}

/* 소개글 */
article {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
main {
  width: 50vw;
}

h1 {
  font-size: 100px;
  padding: 50px 0px 50px 100px;
  animation-name: come;
  animation-duration: 1.5s;
}

p {
  font-size: 1.2em;
  padding: 0px 0px 50px 80px;
  animation-name: come;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

img {
  width: 300px;
  position: absolute;
  animation-name: come;
  animation-duration: 1.5s;
}

.img1 {
  top: 200px;
  right: 350px;
}

.img1:hover {
  width: 500px;
  z-index: 1;
  right: 200px;
  top: 80px;
  transition-duration: 1s;
}
.img2 {
  right: 100px;
  top: 350px;
  animation-name: come;
  animation-duration: 1.5s;
}

.img2:hover {
  width: 500px;
  z-index: 1;
  right: 100px;
  top: 150px;
  transition-duration: 1s;
}

@keyframes come {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
